.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
    margin: 0 auto;
}

.section {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}